<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802048372343-8re89cj06m44ehssnnr6j3gkatg6l88h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802048372343-8re89cj06m44ehssnnr6j3gkatg6l88h</string>
	<key>API_KEY</key>
	<string>AIzaSyAONOlJet64IUKfORjsb6RHGAsWUk6vBOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>802048372343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patoBurguer</string>
	<key>PROJECT_ID</key>
	<string>pato-burguer-73412</string>
	<key>STORAGE_BUCKET</key>
	<string>pato-burguer-73412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802048372343:ios:d1d00d40003b24ab4a2072</string>
</dict>
</plist>